<h1 class="text-center my-24 text-3x1">Welcome Back <b>{{name}}</b></h1>

<!-- En la vista home.hbs -->
<section class="container mx-auto py-8">    
  <div class="flex justify-center">
    <div class="grid grid-cols-3 gap-4">
      <div class="bg-white rounded-lg shadow-md p-6"> <!-- Aumentamos el valor a p-6 para más espaciado -->
        <img src="/ruta/imagen-farmacia-1.jpg" alt="Farmacia 1" class="mb-4">
        <h3 class="text-xl font-semibold mb-2">Farmacia 1</h3>
        <p class="text-gray-600">Dirección de la farmacia 1</p>
        <br>
        <a href="/products" class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded mt-4">Ver productos</a>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6"> <!-- Aumentamos el valor a p-6 para más espaciado -->
        <img src="/ruta/imagen-farmacia-2.jpg" alt="Farmacia 2" class="mb-4">
        <h3 class="text-xl font-semibold mb-2">Farmacia 2</h3>
        <p class="text-gray-600">Dirección de la farmacia 2</p>
        <br>
        <a href="/products" class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded mt-4">Ver productos</a>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6"> <!-- Aumentamos el valor a p-6 para más espaciado -->
        <img src="/ruta/imagen-farmacia-3.jpg" alt="Farmacia 3" class="mb-4">
        <h3 class="text-xl font-semibold mb-2">Farmacia 3</h3>
        <p class="text-gray-600">Dirección de la farmacia 3</p>
        <br>
        <a href="/products" class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded mt-4">Ver productos</a>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto py-8">
  <div class="flex justify-center">
    <a href="/products" class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded">Ver todos los productos de todas las farmacias</a>
  </div>
</section>



